{% load common_filters %}
<!DOCTYPE html>
<html>
  <body>
    <h2>Weather App HTML Form <a href="{% url 'weathersimple' %}"> | >> Simple view</a> | >> Advanced view</a><a href="{% url 'htmlform' %}"></a></h2>
    <form method="POST">
        {% csrf_token %}
        <label for="city">City:</label>
        <input type="text" id="city" name="city" maxlength="100" required>
        <br/>
        <br/><button type="submit">Get Weather </button>
        
    </form>


  {% if res_object %}
  
  <h2>Location Info</h2>
  <ul>
    {% for key, value in res_object.location.items %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>

  <h2>Current Weather</h2>
    <ul>
      {% for key, value in res_object.current.items %}
        {% if value.items %}
          <!-- Handle nested dictionary like 'condition' -->
          <li>{{ key }}:</li>
          <ul>
            {% for subkey, subvalue in value.items %}
              <li>{{ subkey }}: {{ subvalue }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <li>{{ key | underscore_to_space  }}: {{ value }}</li>
        {% endif %}
      {% endfor %}
    </ul>   
          
  {% endif %}

    </body>
</html>
