<!DOCTYPE html>
<html>
  <body>
    <h1>Weather App Simple <a href="{% url 'weatherloop' %}"> | >> Advanced view</a> </h1>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Get Weather</button>
    </form>
    
    <h1>Weather Report</h1>

    {% if error_msg %}
        <p style="color:red;">{{ error_msg }}</p>
    {% endif %}

    {% if weather_data %}
      <div class="weather-info">
        <h2>{{ weather_data.city }}</h2>
        <p>Country: {{ weather_data.country }}</p>
        <p>You entered: {{ weather_data.city_entered }}</p>
        <p>Temperature: {{ weather_data.temperature }} °C</p> 
        <p>Condition: {{ weather_data.text }}
        <img src="{{ weather_data.icon }}" alt="wether icon">
        </p>

    <div id="map" style="height:300px;width:400px;"></div>

    
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=initMap">
    </script>


    <script>
    function initMap() {
    const location = { lat: {{ weather_data.lat }}, lng: {{ weather_data.lon }} };
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: location
    });
    new google.maps.Marker({
        position: location,
        map: map,
        title: "{{ weather.location.name }}"
    });
    }
    </script>

    {% endif %}

  </body>
</html>
